p {
	width: 340px;
	text-align: left;
	font-family: 'Verdana', sans-serif;
	line-height: 17px;
	font-size: small;
	margin-left: 10px;
	margin-bottom: 22px;
}

form {
	font-family: 'Verdana', sans-serif;
	text-align: left;
	line-height: 17px;
	margin-left: 10px;
	font-size: small;
}

input[type=email] {
	height: 30px;
	width: 340px;
	border: 1px solid #cacaca;
	border-radius: 4px;
	margin-top: 7px;
	margin-bottom: 10px;
}

.fptext_wrapper {
	text-align: left;
	font-family: 'Verdana';
	color: #333333;
	font-size: 14px;
	margin-top: 30px;
	margin-left: 10px;
	margin-bottom: 25px;
	letter-spacing: -1px;
}

#fb_div {
	margin-top: 7px;
}

#fb_div .forgot_button {
	font-family: 'Swansea', helvetica;
	width: 90px;
	height: 30px;
	font-weight: bold;
	background: #383838;
	color: #f4f4f4;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#fb_link {
	text-align: justify;
}